
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: black;
    color: white;
}


header {
    background: #0b3d91;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo {
    font-size: 28px;
    font-weight: 700;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

nav a:hover {
    color: #ffd700;
}


.about-container {
    max-width: 1000px;
    margin: 50px auto;
    background: black;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.about-header h1 {
    font-size: 36px;
    color: #0b3d91;
}

.about-header p {
    margin-top: 10px;
    font-size: 18px;
    color: #555;
}

.about-content h2 {
    margin-top: 30px;
    font-size: 24px;
    color: #0b3d91;
}

.about-content p {
    margin-top: 12px;
    font-size: 16px;
    line-height: 1.7;
}

.about-content ul {
    margin-left: 20px;
    margin-top: 10px;
}

.about-content li {
    margin-top: 8px;
    font-size: 16px;
}


.quote-box {
    margin: 30px 0;
    padding: 20px;
    background: #eaf0ff;
    border-left: 5px solid #0b3d91;
    border-radius: 5px;
}

.quote-box p {
    font-size: 18px;
    font-style: italic;
    color: #0b3d91;
}


footer {
    background: #0b3d91;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
